@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.flex{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.title{
    justify-content: space-between;
    padding: 0px 12rem;
}
nav div a{
    text-decoration: none;
    color: black;
}