@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.flex{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.title{
    justify-content: space-between;
    padding: 0px 4rem;
}
nav div a{
    text-decoration: none;
    color: black;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
button:hover {
  background-color: #04AA6D;
  color: rgb(255, 0, 0);
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}